SECRET_KEY=django-insecure-l#hgh%5c+7#p2%o13i(e8wp%g97gg!!vq!6e5)&r@!e7o=k$ee

MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=your_consumer_key_here
MPESA_CONSUMER_SECRET=your_consumer_secret_here
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_passkey_here
MPESA_STK_PUSH_CALLBACK_URL=https://example.com/api/mpesa/callback/